
.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    padding: 0;
    margin: 0;
    transition: .5s ease;
}

.overlay:hover {
    opacity: .5;
}