.grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        width: 50rem; 
        justify-items: center;

    }

.collection{
        margin: 8px;
        margin-bottom: 1em;        
    }

.gridItem {


}
  
.artist{

}

.title{
    
}