@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: CamptonBold;
  src: url('../fonts/campton/CamptonBold.otf');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: CamptonLight;
  src: url('../fonts/campton/CamptonLight.otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: CamptonMedium;
  src: url('../fonts/campton/CamptonMedium.otf');
  font-weight: normal;
  font-style: normal;

}


/* EllographCF Font*/
@font-face {
  font-family: EllographCF;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/ellograph/EllographCF-Regular.woff') format('woff');
}


@font-face {
  font-family: EllographCF-Bold;
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/ellograph/EllographCF-Bold.woff') format('woff');
}

@font-face {
  font-family: EllographCF-Light;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/ellograph/EllographCF-Thin.woff') format('woff');
}



/* Carbon Font*/
@font-face {
  font-family: 'T.26 Carbon';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/carbon/CARBONRegular.woff') format('woff');
}

@font-face {
  font-family: 'T.26 Carbon Thin';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/carbon/CARBONThin.woff') format('woff');
}

@font-face {
  font-family: 'T.26 Carbon Bold';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/carbon/CARBONBold.woff') format('woff');
}

@font-face {
  font-family: 'T.26 Carbon Italic';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/carbon/CARBONRegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'T.26 Carbon Light-Italic';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/carbon/CARBONThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sublima';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Sublima-SemiBold/Sublima-SemiBold.otf') format('otf');
}




html,
body {
  font-family: 'T.26 Carbon Bold', 'Helvetica', 'sans-serif';
}


h2 {
  font-family: Sublima, 'Helvetica', 'sans-serif'
}

h1 {
  font-family: Sublima, 'Helvetica', 'sans-serif'
}

h3 {
  font-family: Sublima, 'Helvetica', 'sans-serif'
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  display: flex;
  padding: 2rem 0;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 18px;
  margin-right: 18px;

}


footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  flex-grow: 1;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    height: 100%;

  }

  body {
    background: #000;
    margin: 0;
    padding: 0;
    
  }


  button {
    font-family: EllographCF-Bold, serif !important;
    border: none;

  }

}

#leva__root > * {
  position: inherit;
}
