@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&display=swap');


@font-face {
  font-family: CamptonBold;
  src: url('../fonts/campton/CamptonBold.otf');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: CamptonLight;
  src: url('../fonts/campton/CamptonLight.otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: CamptonMedium;
  src: url('../fonts/campton/CamptonMedium.otf');
  font-weight: normal;
  font-style: normal;

}


html,
body {
  font-family: CamptonMedium, 'Helvetica', 'sans-serif';
}

.bodyGradient {
  background: radial-gradient(167.15% 124.39% at 49.96% -38.05%, #E1C2FF 0%, #03AECF 45.83%, #8000FF 100%);
  opacity: 0.55;
  filter: blur(180.5px);
  z-index: -1;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 208px;
}

h2 {
  font-family: CamptonBold, 'Helvetica', 'sans-serif'
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid gray;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 18px;
  margin-right: 18px;

}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  flex-grow: 1;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background: #000;
    margin: 0%;
    padding: 0%;
    
  }


  button {
    font-family: CamptonBold !important;
    border: none;

  }

}