.container {
  padding: 0 2rem;
}

.header{
  color: #C3F463;
  margin-top: 1em;
  font-family: 'CamptonBold';
  padding: 1em;
}

.headerLogo {
  align-self: center;
  margin: 32px;
  margin-top: 4em;
  width: 515px;
  height: 232px;
  filter: drop-shadow(2px 6px 31px rgba(0, 0, 0, 0.46));
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #111;
  font-family: 'Courier New', Courier, monospace;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    /* filter: invert(1); */
  }
}

.bodyGradient {
  background: radial-gradient(167.15% 124.39% at 49.96% -38.05%, #E1C2FF 0%, #03AECF 45.83%, #8000FF 100%);
  opacity: 0.55;
  filter: blur(180.5px);
  border-radius: 18px;
  z-index: -1;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 208px;

}

.searchAndCreate {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.createButton{
  margin: 12px;
  background-color: #52B8CE;
  border: none;
  border-radius: 24px;
  width: 80px;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  width: 100px;
  height: 34px;
  justify-content: space-around;
  padding: 4;
  align-items: center;

}

.exploreButton{
  margin: 12px;
  background-color: #FF9900;
  border: none;
  border-radius: 24px;
  width: 80px;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  width: 100px;
  height: 34px;
  justify-content: space-around;
  padding: 4;
  align-items: center;

}


