.container {
  padding: 0 2rem;
}

.header{
  color: #C3F463;
  font-family: 'CamptonBold';
  padding: 1em;
}

.headerLogo {
  align-self: center;
  margin: 12rem 0 0 48px;
  filter: drop-shadow(2px 24px 31px rgba(0, 0, 0, 0.46));

}


@media (max-width: 720px) {
  .headerLogo {
    align-self: center;
    margin: 12rem 0 0 48px;
    filter: drop-shadow(2px 6px 31px rgba(0, 0, 0, 0.46));
  }

}

.typewriter  {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
          typing 2.5s steps(40, end),
          blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  padding: 0;
  margin: 0;
  transition: .5s ease;
}

.overlay:hover {
  opacity: .5;
}




.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: clip;
}


.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}



.grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 720px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .headerLogo {
    align-self: center;
    margin: 32px;
    width: 340px;
    height: 180px;
    filter: drop-shadow(2px 6px 31px rgba(0, 0, 0, 0.46));
    z-index: -1;
  }

}

@media (prefers-color-scheme: dark) {
  .card,
  .code {
    background: #111;
  }
  .logo img {
    /* filter: invert(1); */
  }
}



.exploreAndCreate {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

@media only screen and (max-width: 600px) {
  .exploreAndCreate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }



  .createButton{
    margin: 12px;
    background-color: transparent;
    border: 2px solid #B999FA;
    border-radius: 24px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    width: 190px;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

  }

  .exploreButton{
    margin: 12px;
    background-color: transparent;
    border: 2px solid #B999FA;
    border-radius: 24px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    width: 150px;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

  }
}


.createButton{
  margin: 12px;
  background-color: transparent;
  border: 2px solid #B999FA;
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  width: 170px;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}

.exploreButton{
  margin: 12px;
  background-color: transparent;
  border: 2px solid #B999FA;
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  width: 170px;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}
